# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# .gitignore brukes for hindre git fra å tracke unødvendige prosjektfiler #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Pycache, ingen liker pycache
__pycache__/



# Installer logs (skal ikke komme opp, men bare i tilfelle)
pip-log.txt